@import "./main.css";
@import "./tablet.css" screen and (min-width:450px);
@import "./desktop.css" screen and (min-width:982px);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    justify-content: center;
    align-items: center;
}

.grid-gallery-container {
    justify-content: center;
    align-items: center;
    display: grid;
    min-height: 100vh;
    width: 100vw;
    /* margin: 1vw; */
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 10% 5% 5% auto 10%;
    grid-template-areas:
        'header header header'
        'nav nav nav'
        'search search upload'
        'gallery gallery gallery'
        'footer footer footer'
    ;
}

.logo {
    justify-self: center;
    text-decoration-color: bisque;
    font-style: italic;
    grid-area: header;
}

.nav-gallery-btn {
    grid-area: nav;
    justify-self: left;
}

.nav-meme-btn {
    grid-area: nav;
    justify-self: center;
}

.file-input-btn {
    justify-self: top;
    grid-area: upload;
}

.meme-filter-bar {
    margin-left: 2vw;
    grid-area: search;
    display: flex;
    flex-direction: row;
}

.meme {
    height: 10vh;
    display: block;
}

.gallery {
    /* display: block; */
    /* border: 1px solid; */
    /* padding: 1rem; */
    margin-left: 5%;
    grid-area: gallery;
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
}

.footer {
    grid-area: footer;
    background-color: gray;
    height: 10vh;
}

.meme-maker-container {
    position: fixed;
    top: 25%;
    align-self: center;
    height: 55vh;
    width: 100vw;
    /* display: flex; */
    display: flex;
    flex-direction: row;
    display: none;
}

.big-box {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0.5vw;
    text-align: center;
    gap: 0.5rem;
}

.canvas-container {
    height: 55vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    justify-self: center;
    background-color: azure;
    /* opacity: 1; */
    display: block;
    height: 40vmin;
    width: 40vmin;
    border: 1px solid black;
}

.btn-container {
    display: flex;
    justify-content: space-around;
}

.icon {
    width: 1.5vh;
    height: 1.5vh;
}



.download-toggle {
    display: none;
    position: fixed;
    /* background-color: aliceblue; */
    /* width: 40vw; */
    /* height: 40vh; */
    /* border: 1px solid black; */

}

.box-1 {
    display: flex;
    flex-direction: column;
    /* width: 25vw; */
}

.text-inupt-box {
    height: 2rem;
}

.text-input-buttons-container {
    display: flex;
}

.box-2 {
    display: flex;
    /* width: 25vw; */
}

.text-style-buttons-container {
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

.text-font-buttons-container {
    display: flex;
    height: 10vh;
    flex-direction: column;
    padding: 1vw;
}

.box-3 {
    display: flex;
    flex-direction: column;
    /* width: 25vw; */
}

.user-files-interaction-container{
    display: flex;
    flex-direction: column;
    /* width: 20vw; */
}

.box-4 {
    display: block;
    width: 30vw;
}

.user-line-move-interaction-container{
    display: flex;
    flex-direction: column;
    min-width: 20vw;
}

.img-filter-modal{
    margin-top: 20vh;
    display: flex;
    flex-wrap: wrap;
    display: none;
    position: fixed;
    opacity: 0.7;
    /* width: 40vw; */
    /* height: 40vh; */
    /* border: 1px solid black; */

} 


.filter {
    height: 2rem;
    width: 10rem;
    background-color: rgb(13, 94, 94);
    border: 1px solid black;
    display: block;
}

.filter-btn{
    width: 5vh;
    height: 5vh;
}











/* .move-line-up-btn{
    grid-area: up;
}
.move-line-down-btn{
    grid-area: down;
}
.move-line-left-btn{
    grid-area: left;
}
.move-line-right-btn{
    grid-area: right;
} */